{% set console_device = console_device|default('ttyS0') %}
{%- if guestfs_interface == "virtio" %}
{% set root_device = 'vda' %}
{%- else %}
{# ide scsi #}
{% set root_device = root_device|default('sda') %}
{%- endif %}

device_type: {{ DEVICETYPE }}

job_name: {{ JOBNAME }}
timeouts:
  job:
    minutes: 300
  action:
   minutes: 20
  actions:
    power-off:
      seconds: 30
priority: high
visibility: public

{%- if DEVICETYPE == "qemu" %}
{% set qemu_binary = qemu_binary|default("qemu-system-" + qemu_arch) %}

context:
    arch: {{ qemu_arch }}
{%- if qemu_no_kvm is defined %}
    no_kvm: {{ qemu_no_kvm }}
{%- endif %}
{%- if qemu_cpu is defined %}
    cpu: {{ qemu_cpu }}
{%- endif %}
{%- if qemu_machine is defined %}
    machine: {{ qemu_machine }}
{%- endif %}
{%- if qemu_memory is defined %}
    memory: {{ qemu_memory }}
{%- endif %}
{%- if console_device is defined %}
    console_device: {{ console_device }}
{%- endif %}
{%- if qemu_netdevice is defined %}
    netdevice: {{ qemu_netdevice }}
{%- endif %}
{%- if qemu_model is defined %}
    model: {{ qemu_model }}
{%- endif %}
{%- if guestfs_interface is defined %}
    guestfs_interface: {{ guestfs_interface }}
{%- endif %}
{%- if guestfs_driveid is defined %}
    guestfs_driveid: {{ guestfs_driveid }}
{%- endif %}
{%- if qemu_extra_options is defined %}
    extra_options: {{ qemu_extra_options }}
{%- endif %}
# endif qemu
{%- endif %}

{%- if rootfs_method == "nbd" %}
protocols:
  lava-xnbd:
    port: auto
{%- endif %}

actions:
- deploy:
    timeout:
      minutes: 20
    to: downloads
    postprocess:
      docker:
        image: debian:bookworm
        steps:
         - ls -l
         - mkdir gentoo
         - apt-get update && apt-get -y install xz-utils unzip wget
         - cd gentoo && tar xpf ../stage3*
         - echo 'hostname="gentooci"' > etc/conf.d/hostname
         - echo "rc_nocolor=YES" >> etc/rc.conf
         - touch etc/inittab
         - sed -i 's,^s0,#s0,' etc/inittab
         - sed -i 's,^f0,#f0,' etc/inittab
         - echo "s0:12345:respawn:/sbin/agetty -L 115200 {{ console_device }} vt100" >> etc/inittab
         - grep ^s etc/inittab
         - sed -i 's,root:.*,root:$6$p3gorwcg$ly73iRHcUPeR4WI2pRWbJv5Gg9SOtPGIHsFN.PH7b94U.F9vebcLVFBMAvJMurxLsKt6i/ZnLmuPj7JfD0d5k/:16834:0:::::,' etc/shadow
         - wget --quiet https://github.com/gentoo/gentoo/archive/master.zip -O /master.zip
         - unzip -q /master.zip
         - mkdir var/db/repos/gentoo/
         - mv gentoo-master/* var/db/repos/gentoo/
         - rm -rf gentoo-master/
         - rm /master.zip
{%- if MODULES_SHA256 %}
         - tar xf ../modules.tar -C .
         - rm ../modules.tar
         - chmod 755 ./lib
         - chown -R root:root ./lib/modules
         - ls -l ./lib/modules
{% endif %}
{#- size must be a power of two for board which emulate sdcard #}
         - du -ah --max-depth=1
         - mke2fs -d . -m 0 -t ext2 ../gentoo.ext2 4G
         - cd ..
         - rm -rf gentoo
         - rm stage3*
         - ls -l
    images:
      stage3:
        image_arg: '-drive format=raw,if={{ guestfs_interface }},file={gentoo} -append "root=/dev/{{ root_device }} console={{ console_device }} ip=dhcp"'
        url: {{ ROOT_FQDN }}{{ rootfs_path }}
        compression: {{ ROOTFS_COMP }}
{%- if rootfs_sha512 %}
        sha512sum: {{ rootfs_sha512 }}
{% endif %}
{%- if MODULES_SHA256 %}
      modules:
        url: {{ BOOT_FQDN }}/{{ PATH }}/modules.tar.gz
        compression: gz
        sha256sum: {{ MODULES_SHA256 }}
{% endif %}

{%- if DEVICETYPE == "qemu" %}
- deploy:
    timeout:
      minutes: 3
    to: tmpfs
    os: oe
    images:
      kernel:
        image_arg: '-kernel {kernel}'
        url: {{ BOOT_FQDN }}/{{ PATH }}/{{ KERNELFILE }}
        type: {{ KERNELTYPE }}
        sha256sum: {{ KERNEL_SHA256 }}
{%- if dtb_path is defined %}
      dtb:
        image_arg: '-dtb {dtb}'
        url: {{ BOOT_FQDN }}{{ dtb_path }}
        sha256sum: {{ DTB_SHA256 }}
{% endif %}
      gentoo:
        image_arg: '-drive format=raw,file={gentoo}'
        url: downloads://gentoo.ext2

- boot:
    timeout:
      minutes: 10
    method: qemu
    media: tmpfs
    docker:
      image: kernelci/qemu
      binary: {{ qemu_binary }}
    prompts:
      - '/ #'
      - '~ #'
{%- if auto_login_password %}
    auto_login:
      login_prompt: "login:"
      username: root
      password_prompt: 'Password:'
      password: {{ auto_login_password }}
{% endif %}

{# if qemu ######################################################}
{% else %}
# case for non-qemu

- deploy:
    timeout:
      minutes: 5
    protocols:
      lava-xnbd:
      - action: nbd-deploy
        request: set_port
    to: nbd
    os: oe
    kernel:
      url: {{ BOOT_FQDN }}/{{ PATH }}/{{ KERNELFILE }}
      type: {{ KERNELTYPE }}
      sha256sum: {{ KERNEL_SHA256 }}
    modules:
      url: {{ BOOT_FQDN }}/{{ PATH }}/modules.tar.gz
      compression: gz
      sha256sum: {{ MODULES_SHA256 }}
    initrd:
      url: {{ RAMD_FQDN }}{{ initrd_path }}
      compression: gz
    nbdroot:
      url: downloads://gentoo.ext2

- boot:
    timeout:
      minutes: 5
    method: {{ boot_method }}
    commands: nbd
    prompts:
      - '/ #'
      - '~ #'
{%- if auto_login_password %}
    auto_login:
      login_prompt: "login:"
      username: root
      password_prompt: 'Password:'
      password: {{ auto_login_password }}
{% endif %}

    transfer_overlay:
      download_command: ifconfig; wget
      unpack_command: tar -C / -zxf

# endif if qemu
{% endif %}

- test:
    timeout:
        minutes: 30
    definitions:
        - repository: https://github.com/GKernelCI/Glava-tests.git
          from: git
          path: execs/network.yaml
          name: network

